<VirtualHost *:443>
    ServerName {{ item.name }}
    DocumentRoot "{{ webroot }}{{ item.dir }}"

    SSLCertificateFile /etc/letsencrypt/live/{{ item.name }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ item.name }}/privkey.pem
    Include /etc/letsencrypt/options-ssl-apache.conf

    Header always set Content-Security-Policy: "default-src 'none'; img-src 'self'; object-src 'none'; script-src 'self'; style-src 'self'; form-action 'none'; base-uri 'self'; frame-ancestors 'none';"
    Header always set Referrer-Policy: "same-origin"
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Header always set X-Content-Type-Options: "nosniff"
    Header always set X-Frame-Options "deny"
    Header always set X-XSS-Protection: "1; mode=block"
</VirtualHost>